/*------------------------- HEADER -------------------------*/

.container {
    position: relative;
    text-align: center;
}

.hT {
    color:#FBF9F6;
}

header p {
    font-size: 30px;
}

header h1 {
    font-size: 60px;
}

.topLeft {
    position: absolute;
    top: 8px;
    right: 16px;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*-------------------------- MAIN --------------------------*/

html {
    background-color: #FBF9F6;
    font-family: 'Open Sans', sans-serif;
}

.wrapper {
    display: grid;
    grid-template-columns: auto auto;
}

.intro {
    padding: 5%;
}

.begin {
    padding-top: 2%;
    padding-bottom: 50px;
    text-align: center;

}

.intro h2 {
    text-align: center;
    font-size: 35px;
}

.intro p {
    text-align: center;
    font-size: 19px;
}

.box1, .box2 {
    display: inline-block;
    margin-bottom: 10%;
    text-align: center;
}

input.bSub {
    background-color: #A9A89F;
    border: none;
    color:  #FBF9F6;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    padding: 3% 5%;
    margin-bottom: 4px;
}

button:hover {
    background-color: #BFBDB3;
}

input {
    height: 45px;
}

a {
    text-decoration: none;
    color: #FBF9F6;
}

a.b {
    background-color: #A9A89F;
    border: 1px solid #A9A89F;
    border-radius: 4px;
    color:#FBF9F6;
    padding: 2% 5%;
    text-align: center;
    margin-top: 4%;
}

div.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}


/*----------------------- BOOK-FORM -------------------------*/


.bfb {
    background-color: #A9A89F;
    border: none;
    color:  #FBF9F6;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    padding: 20px 25px;
    margin-left: 65%;
    margin-bottom: 2%;
    margin-top: 2%;
    max-width: 150px;
}

form fieldset {
    background-color: white;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 50px 30px 50px;

}

fieldset label.top, fieldset div {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
}

 fieldset label.top input {
    font-size: 19px;
    -webkit-appearance: none;
    display: block;
    padding: 0.2rem;
    width: 100%;
    margin-top: 4px;
    border-color: #CEC9C4 #CEC9C4;
    border-radius: 3px;
}

textarea {
    font-size: 18px;
}

/*------------------------ SEARCH ------------------------------*/

.sContainer {
    height: 500px;
}

.sBox {
    text-align: center;
}

.bSub {
    width: 170px;
}

div.grid-container {
    display: flex;
    flex-direction: row;
    margin-left: 40%;
}

.grid1 {
    margin-right: 20px;
    margin-bottom: 10px;
}





